

.shadow {
  width: 250px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  text-align: center;
}

.title{
  text-align: left;

/* Subtitle 1 */

font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 16px;
line-height: 24px;
/* identical to box height, or 150% */

letter-spacing: 0.15px;

/* 00. On Surface / High Emphasis */

color: rgba(0, 0, 0, 0.87);
}


.secondary{
  /* ✏️Secondary text */

  text-align: left;


font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 14px;
line-height: 20px;
/* identical to box height, or 143% */

letter-spacing: 0.25px;

/* 00. On Surface / Medium Emphasis */

color: rgba(0, 0, 0, 0.6);
}

.trustPeersToDo{


/* Subtitle 1 */

font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 16px;
line-height: 24px;
/* identical to box height, or 150% */

letter-spacing: 0.15px;

color: #000000;
}

.windowSize{
Width:314px;
Height:434px;
}

.checkBox{
  position: absolute;
left: 12.5%;
right: 12.5%;
top: 12.5%;
bottom: 12.5%;

/* 01. Primary/500 */

background: #6200EE;
}


.addSign{

font-size: 34px;
line-height: 36px;
/* identical to box height, or 106% */


color: #6200EE;

text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
